# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db

# VSCode
.vscode/

# macOS
.DS_Store

# Virtual environments
venv/
env/
.venv/
.env/

# Logs
*.log

# Test output
htmlcov/
.coverage
.cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# FastAPI static files
static/

# Node.js
node_modules/

# Frontend build output
apps/web/dist/